<header class="main-header">
	<h3 class="logo"></h3>
	<a href="/playlists" class="hidden mobile leave-playlist-button"><img src="/icons/back.svg" alt="" class="icon"><span>Leave playlist</span></a>
	<div class="account">
		<div class="account__text">
			<div class="desktop account__text--account">Account</div>
			<% if(user.displayName){ %>
			<div class="account__text--name"><%= user.displayName %></div>
			<% } else {%>
			<div class="account__text--name"><%= user.username %></div>
			<% } %>
		</div>
		<% if(user.profilePic){ %>
		<img class="account__profile-pic" src="<%= user.profilePic %>" alt="Profile picture of <%= user.profilePic %>">
		<% } else {%>
		<img class="account__profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Profile picture of <%= user.profilePic %>">
		<% } %>

		<a href="/logout" class="logout-button">Log out</a>
	</div>

</header>
