<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>

		<main>
			<header class="playlist-header">
				<div class="playlist-header__currentrack">
					<% if(playlistData.tracks.length > 0 ){ %>
					<img class="header-currenttrack-img" src="<%= playlistData.tracks[0].album.images[1].url %>" alt="">
					<% } else {%>
					<img class="header-currenttrack-img" src="//:0" alt="">
					<% } %>
					<% if(playlistData.isPlaying === true ){ %>
					<span class="play-status">Playing</span>
					<% } else {%>
					<span class="play-status">Paused</span>
					<% } %>
				</div>
				<div class="playlist-header__details">
					<a href="/playlists" class="leave-playlist-button"><img src="/icons/back.svg" alt="" class="icon"><span>Leave playlist</span></a>
					<h1 class="playlist-header__title"><%= playlistData.name %></h1>
					<div class="playlist-header__user-created">
						<% if(playlistData.createdBy.displayName){ %>
						<span>Created by <%= playlistData.createdBy.displayName %></span>
						<% } else {%>
						<span>Created by <%= playlistData.createdBy.username %></span>
						<% } %>
						<img src="<%= playlistData.createdBy.profilePic %>" alt="">
					</div>
				</div>
			</header>

			<section class="playlist-currentusers">
				<header class="tracklist-header">
					<h3 class="playlist-currentusers__amount"><%= playlistData.activeUsers.length %> Users</h3>
					<div class="button-wrapper">
						<a href="#showinfo" class="button show-qr-code"><span>QR Code</span><img src="/icons/qr.svg" alt="" class="button-icon"></a>
						<a href="#add-track" class="button show-all-users"><span>View all</span><img src="/icons/users.svg" alt="" class="button-icon"></a>
					</div>
				</header>

				<ul class="playlist-currentusers__list">
					<!-- <% for(var i=0; i < playlistData.activeUsers.length; i++) { %>

						<li class="current-user" data-id="<%= playlistData.activeUsers[i].spotifyId %>">
							<img src="<%= playlistData.activeUsers[i].profilePic %>" alt="">
							<p>
								<%= playlistData.activeUsers[i].spotifyId %>
							</p>
						</li>
						<% } %> -->
				</ul>
			</section>

			<div class="qr-overlay hidden">
					<img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?color=ffffff&bgcolor=000000&data=https://spotifytogether.herokuapp.com/playlist/<%= playlistData.qrCodeId%>/<%=playlistData._id %>" alt="">
			</div>

			<section class="playlist-queue">
				<header class="tracklist-header">
					<h3>Queue</h3>
					<div class="button-wrapper">
						<a href="#showinfo" class="button show-playlist-info"><span>Info</span><img src="/icons/users.svg" alt="" class="button-icon"></a>
						<% if(playlistData.tracks.length > 0 ){ %>
							<a href="#add-track" class="button show-add-tracks" style="background-color: rgb(<%= playlistData.tracks[0].primaryColor %>)"><span>Add songs</span><img src="/icons/add.svg" alt="" class="button-icon"></a>
							<% } else {%>
							<a href="#add-track" class="button show-add-tracks"><span>Add songs</span><img src="/icons/add.svg" alt="" class="button-icon"></a>
							<% } %>



					</div>

				</header>
				<div class="tracklist__header">
					<span></span>
					<span>Title</span>
					<span>Artist</span>
					<!-- <span>Album</span> -->
					<span>Added by</span>
					<%# <span>Likes</span> %>

				</div>

				<ul class="tracklist queue">

					<% for(var i=0; i < playlistData.tracks.length; i++) { %>
						<li class="tracklist__track" data-id="<%= playlistData.tracks[i].id %>" data-created="<%= playlistData.tracks[i].createdAt %>" data-name="<%= playlistData.tracks[i].name %>" data-isplaying="<%= playlistData.tracks[i].isPlaying %>">
							<img class="tracklist__track-img" src="<%= playlistData.tracks[i].album.images[1].url %>" alt="Album cover of <%= playlistData.tracks[i].name %>">
							<span class="tracklist__track-name"><%= playlistData.tracks[i].name %></span>
							<span class="tracklist__track-artist"><%= playlistData.tracks[i].artists.map(a => a.name).join(', ') %></span>
							<!-- <span class="tracklist__track-album"><%= playlistData.tracks[i].album.name %></span> -->
							<div class="tracklist__track-addedby">
								<% if(playlistData.tracks[i].addedBy.profilePic){ %>
								<img class="tracklist__track-addedby-profilepic" src="<%= playlistData.tracks[i].addedBy.profilePic %>" alt="">
								<% } else {%>
									<img class="tracklist__track-addedby-profilepic" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="">
								<% } %>

								<% if(playlistData.tracks[i].addedBy.displayName){ %>
								<span class="tracklist__track-addedby-name"><%= playlistData.tracks[i].addedBy.displayName.split(" ")[0] %></span>
								<% } else {%>
								<span class="tracklist__track-addedby-name"><%= playlistData.tracks[i].addedBy.username %></span>
								<% } %>

							</div>

							<span class="tracklist__track-likes">
								<span class="like-amount"><%= playlistData.tracks[i].likes %></span>

							<% if(playlistData.tracks[i].addedBy.spotifyId === user.spotifyId || user.spotifyId === playlistData.admins[0]){ %>
								<button type="button" class="track-delete-button"><span>Remove</span><img class="icon" src="/icons/close.svg" alt="Cross icon"></button>
								<% } else {%>
									<%
								var liked;
								if(playlistData.tracks[i].userLiked.length === 0){ %>
										<button type="button" class="track-like-button" data-id="<%= playlistData.tracks[i].id %>"><span>Like</span><img class="icon" src="/icons/heart.svg" alt="Heart icon"></button>
										<% }
								else {
									 for(var j=0; j < playlistData.tracks[i].userLiked.length; j++) {
										if(user.spotifyId ===  playlistData.tracks[i].userLiked[j]){
											liked = true;
											break;
										 }
										else {
											liked = false;
										 }
									 }
									 if(liked === true){ %>
											<button type="button" class="track-like-button track-like-button--disabled" disabled><span>Like</span><img class="icon" src="/icons/heart-filled.svg" alt="Heart icon"></button>
											<% } else {%>
												<button type="button" class="track-like-button"><span>Like</span><img class="icon" src="/icons/heart.svg" alt="Heart icon"></button>
												<% }
								} %>
													</span>

						</li>
						<% } %>
							<% } %>
				</ul>
			</section>

		</main>

		<section id="add-track">
			<div class="add-track-wrapper">
				<header class="add-track-header">
					<div class="header-titles">

						<a href="#" class="leave-playlist-button"><img src="/icons/back.svg" alt="" class="icon"><span>Back to playlist</span></a>
						<h1>Add songs</h1>
					</div>

					<input class="track-search" type="search" name="search" placeholder="Search for a song">
				</header>

				<section class="search-results">
					<h3>Search results</h3>
					<div class="tracklist__header">
						<span></span>
						<span>Title</span>
						<span>Artist</span>
					</div>
					<ul class="tracklist add-tracks search-results-list">
					</ul>
				</section>

				<section class="user-playlists-overview">
					<h3>Your playlists</h3>
					<ul class="user-playlists">
						<% for(var i=0; i < 6; i++) { %>
							<li class="user-playlists__item" data-playlistid="<%= userPlaylists[i].id %>" data-playlistowner="<%= userPlaylists[i].owner.id %>">

								<img class="tracklist__playlist-img" src="<%= userPlaylists[i].images[0].url %>" alt="Album cover of <%= userPlaylists[i].name %>">
								<span class="tracklist__track-name"><%= userPlaylists[i].name %></span>
								<button class="show-playlist-button"><span>Show playlist</span></button>
							</li>
							<% } %>
					</ul>
				</section>

				<section class="user-playlist hidden">
					<div class="add-track-wrapper">
						<header class="playlist-header">
							<div class="playlist-header__currentrack playlist-header__cover">
								<img class="user-playlist-cover" src="//:0" alt="">
							</div>
							<div class="playlist-header__details">
								<button class="leave-playlist-button close-playlist-button"><img src="/icons/back.svg" alt="" class="icon"><span>Back</span></button>
								<h1 class="playlist-header__title user-playlist-header__title"></h1>
								<div class="playlist-header__user-created user-playlist-header__user-created">
									<span></span>
									<img src="//:0" alt="">
								</div>
							</div>
						</header>

						<div class="tracklist__header">
							<span></span>
							<span>Title</span>
							<span>Artist</span>
						</div>

						<ul class="tracklist add-tracks add-playlist-tracks">

						</ul>
					</div>
					<div class="background-image" style="background-image: url(<%= user.profilePic %> )"></div>
				</section>



				<section class="top-songs">
					<div class="tracklist__header">
						<span></span>
						<span>Title</span>
						<span>Artist</span>
					</div>

					<ul class="tracklist add-tracks">
						<% for(var i=0; i < topTracks.length; i++) { %>
							<li class="tracklist__track" data-trackid="<%= topTracks[i].id %>">
								<img class="tracklist__track-img" src="<%= topTracks[i].album.images[1].url %>" alt="Album cover of <%= topTracks[i].name %>">
								<span class="tracklist__track-name"><%= topTracks[i].name %></span>
								<span class="tracklist__track-artist"><%= topTracks[i].artists.map(a => a.name).join(', ') %></span>
								<%
									var duplicate = false;
									for(var j=0; j < playlistData.tracks.length; j++) {
										if(playlistData.tracks[j].id === topTracks[i].id){
											duplicate = true;
											break;
										 } else {
 											duplicate = false;
 										 }
									 }
									 if(duplicate === false){
									%>
									<button type="button" class="track-add-button"><span>Add track</span><img class="icon" src="/icons/add.svg" alt="Add icon"></button>
									<% } else { %>
										<button type="button" class="track-add-button" disabled><span>Add track</span><img class="icon" src="/icons/check.svg" alt="Add icon"></button>
										<% } %>
							</li>

							<% } %>
					</ul>
				</section>
			</div>
			<div class="background-image" style="background-image: url(<%= user.profilePic %> )"></div>
		</section>


		<ul class="fetch-devices-wrapper"></ul>
		<section id="player">

			<div class="player-details">
				<% if(playlistData.tracks.length > 0 ){ %>
					<img src="<%= playlistData.tracks[0].album.images[1].url %>" alt="" class="player-details__track-img">
					<div class="player-details__text">
						<p class="player-details__track-name">
							<%= playlistData.tracks[0].name %>
						</p>
						<p class="player-details__artist-name">
							<%= playlistData.tracks[0].artists.map(a => a.name).join(', ') %>
						</p>
						<div class="player-details__addedby">
						<% if(playlistData.tracks[0].addedBy.displayName){ %>
						<span><%= playlistData.tracks[0].addedBy.displayName.split(" ")[0] %></span>
						<% } else {%>
						<span><%= playlistData.tracks[0].addedBy.username %></span>
						<% } %>

						</div>
					</div>
					<% } else { %>
						<img src="//:0" alt="" class="player-details__track-img">
						<div class="player-details__text">
							<p class="player-details__track-name"></p>
							<p class="player-details__artist-name"></p>
							<div class="player-details__addedby">
								<span></span>
							</div>
						</div>
						<% }  %>

			</div>

			<% if(user.spotifyId === playlistData.admins[0]){ %>
				<div class="player-controls">
					<button class="prev-button"><span>Back</span><img class="icon" src="/icons/prev_big.svg" alt="Prev icon"></button>
					<% if(playlistData.isPlaying == true){ %>
						<button class="play-button hidden"><span>Play</span><img class="icon" src="/icons/play_big.svg" alt="Play icon"></button>
						<button class="pause-button"><span>Pause</span><img class="icon" src="/icons/pause_big.svg" alt="Pause icon"></button>
						<% } else {%>
							<button class="play-button"><span>Play</span><img class="icon" src="/icons/play_big.svg" alt="Play icon"></button>
							<button class="pause-button hidden"><img class="icon" src="/icons/pause_big.svg" alt="Pause icon"></button>
							<% } %>
								<button class="next-button"><span>Next</span><img class="icon" src="/icons/next_big.svg" alt="Next icon"></button>
				</div>
				<% } %>


					<button type="button" class="fetch-devices-button">Fetch Devices</button>
		</section>
		<% if(playlistData.tracks.length > 0 ){ %>
		<div class="background-image background-image--playlist" style="background-image: url(<%= playlistData.tracks[0].album.images[1].url %>)"></div>
		<% } else {%>
		<div class="background-image background-image--playlist"></div>
			<% } %>
		<script type="text/javascript">
			var topTracks = <%- JSON.stringify(topTracks) %>; //Make toptracks avaialbe inside client javascript
		</script>
		<% include ./partials/scripts %>
</body>

</html>
