<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>

		<main>
			<header class="playlist-header">
				<a href="/playlists" class="button">Leave playlist</a>
				<h1 class="playlist-header__title"><%= playlistData.name %></h1>
				<p class="playlist-header__description">
					<%= playlistData.description %>
				</p>
				<span>Created by: <%= playlistData.createdBy %></span>
			</header>

			<section>
				<h3 class="playlist-currentusers-amount"></h3>
				<ul class="playlist-currentusers">
					<!-- <% for(var i=0; i < playlistData.activeUsers.length; i++) { %>
			<h3 class="playlist-currentusers-amount"><%= playlistData.activeUsers.length %> Users</h3>
					<li>
						<img src="<%= playlistData.activeUsers[i].profilePic %>" alt="">
						<p>
							<%= playlistData.activeUsers[i].name %>
						</p>
					</li>
					<% } %> -->
				</ul>
			</section>

			<section>
				<header class="tracklist-header">
					<h3>Songs</h3>
					<a href="#add-track" class="button show-add-tracks">Add song</a>
				</header>
				<div class="tracklist__track--top">
					<span></span>
					<span>Title</span>
					<span>Artist</span>
					<!-- <span>Album</span> -->
					<span>Added by</span>

				</div>

				<ul class="tracklist">

					<% for(var i=0; i < playlistData.tracks.length; i++) { %>
						<li class="tracklist__track" data-id="<%= playlistData.tracks[i]._id %>" data-created="<%= playlistData.tracks[i].createdAt %>" data-name="<%= playlistData.tracks[i].name %>" data-isplaying="<%= playlistData.tracks[i].isPlaying %>">
							<img class="tracklist__track-img" src="<%= playlistData.tracks[i].album.images[0].url %>" alt="Album cover of <%= playlistData.tracks[i].name %>">
							<span class="tracklist__track-name"><%= playlistData.tracks[i].name %></span>
							<span class="tracklist__track-artist"><%= playlistData.tracks[i].artists.map(a => a.name).join(', ') %></span>
							<!-- <span class="tracklist__track-album"><%= playlistData.tracks[i].album.name %></span> -->
							<span class="tracklist__track-addedby"><%= playlistData.tracks[i].addedBy %></span>
							<span class="tracklist__track-likes">
								<span class="like-amount"><%= playlistData.tracks[i].likes %></span>
							<%
								var liked;
								if(playlistData.tracks[i].userLiked.length === 0){ %>
								<button type="button" class="track-like-button" data-id="<%= playlistData.tracks[i]._id %>">Like</button>
								<% }
								else {
									 for(var j=0; j < playlistData.tracks[i].userLiked.length; j++) {
										if(user.spotifyId ===  playlistData.tracks[i].userLiked[j]){
											liked = true;
											break;
										 }
										else {
											liked = false;
										 }
									 }
									 if(liked === true){ %>
									<button type="button" class="track-like-button--disabled" disabled>Like</button>
									<% } else {%>
										<button type="button" class="track-like-button">Like</button>
										<% }
								} %>
											</span>
											<% if(playlistData.tracks[i].addedBy === user.spotifyId){ %>
												<button type="button" class="track-delete-button">Remove</button>
												<% } %>
						</li>
						<% } %>
				</ul>
			</section>

			<!-- <img src="https://api.qrserver.com/v1/create-qr-code/?color=ffffff&bgcolor=000000&data=https://spotifytogether.herokuapp.com/playlist/<%= playlistData.qrCodeId%>/<%=playlistData._id %>" alt=""> -->
		</main>

		<section id="add-track">
			<div class="add-track-wrapper">
				<header>
					<h2>Add songs to <%= playlistData.name %></h2>
					<a href="#" class="close-add-tracks button">Close</a>
				</header>
				<input class="track-search" type="search" name="search" placeholder="Search for a song">

				<section class="search-results">
					<h3>Search results</h3>
					<div class="tracklist__track--top">
						<span></span>
						<span>Title</span>
						<span>Artist</span>
					</div>
					<ul class="tracklist fav-tracks search-results-list">
					</ul>
				</section>

				<section class="user-playlists-wrapper">
					<h3>Your playlists</h3>
					<ul class="user-playlists">
						<% for(var i=0; i < 4; i++) { %>
							<li class="user-playlists__item">
								<img class="tracklist__track-img" src="<%= userPlaylists[i].images[0].url %>" alt="Album cover of <%= userPlaylists[i].name %>">
								<span class="tracklist__track-name"><%= userPlaylists[i].name %></span>
							</li>
							<% } %>
					</ul>
				</section>



				<section class="top-songs">
					<div class="tracklist__track--top">
						<span></span>
						<span>Title</span>
						<span>Artist</span>
						<!-- <span>Album</span> -->


					</div>
					<ul class="tracklist fav-tracks">
						<% for(var i=0; i < topTracks.length; i++) { %>
							<li class="tracklist__track">
								<img class="tracklist__track-img" src="<%= topTracks[i].album.images[0].url %>" alt="Album cover of <%= topTracks[i].name %>">
								<span class="tracklist__track-name"><%= topTracks[i].name %></span>
								<span class="tracklist__track-artist"><%= topTracks[i].artists.map(a => a.name).join(', ') %></span>
								<button type="button" class="track-add-button">Add track</button>
							</li>

							<% } %>
					</ul>
				</section>
			</div>
		</section>


		<ul class="fetch-devices-wrapper"></ul>
		<section id="player">

			<div class="player-details">
				<% if(playlistData.tracks.length > 0){ %>
					<img src="<%= playlistData.tracks[0].album.images[0].url %>" alt="" class="player-details__track-img">
					<div class="player-details__text">
						<p class="player-details__track-name">
							<%= playlistData.tracks[0].name %>
						</p>
						<p class="player-details__artist-name">
							<%= playlistData.tracks[0].artists.map(a => a.name).join(', ') %>
						</p>
					</div>
					<% } %>
			</div>


			<div class="player-controls">
				<button class="prev-button">Back</button>
				<button class="play-button">Play</button>
				<button class="stop-button hidden">Pause</button>
				<button class="next-button">Next</button>
			</div>


			<button type="button" class="fetch-devices-button">Fetch Devices</button>
		</section>
		<script type="text/javascript">
			var topTracks = <%- JSON.stringify(topTracks) %>; // Get templates object (object of strings)
		</script>
		<% include ./partials/scripts %>
</body>

</html>
